html, body {
	height: 100%;
}

body {
	background-image: url("/assets/img/bg_repeat_sm.png");
    background-color: #cccccc;
    min-width: 460px;
}

p {
	margin-top: 0;
}

h3 {
	margin-top: 5px;
}

/*
===========================================================
Page Wrapper
===========================================================	
*/

.qs-page {
	width: 100%;
	min-height: 100%;
	margin: auto;
	padding: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	-moz-box-shadow: -1px 0px 20px 0px rgba(40,40,40,0.75);
	-webkit-box-shadow: -1px 0px 20px 0px rgba(40,40,40,0.75);
	box-shadow: -1px 0px 20px 0px rgba(40,40,40,0.75);
}

.qs-page .custom-border-vertical {
	width: 4px;
	height: 100%;
	background-image: url("/assets/img/vertical_border.png");
	position: absolute;
	top: 0;
}

.qs-page .custom-border-horizontal {
	width: 100%;
	height: 4px;
	background-image: url("/assets/img/horizontal_border.png");
	position: absolute;
	left: 0;
}

.qs-page .custom-border-vertical.left {
	left: 0;
}

.qs-page .custom-border-vertical.right {
	right: 0;
}

.qs-page .custom-border-horizontal.bottom {
	bottom: 0;
}

.qs-page .custom-border-horizontal.top {
	top: 0;
}

.qs-page-content {
	position: relative;
	padding: 25px;
	flex: 1 1 auto;
	margin: 0 -2px;
}

.qs-logo {
	background-image: url("/assets/img/logo_sm.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

/*
===========================================================
Header
===========================================================	
*/

.qs-page > header {
    height: 250px;
	border-top: none;
	position: relative;
	margin: 0;
}

.qs-page > header > .topper {
	width: 100%;
	height: 50px;
    padding: 8px 13px 10px;
    background-color: rgba(255,255,255,0.90);
    box-sizing: border-box;
    position: absolute;
}

.qs-page > header a.facebook-link {
	text-decoration: none;
	width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
}

.qs-page > header a.facebook-link:visited {
	color: #B9B9B9;
}

.qs-page > header .symbol.facebook {
	font-size: 40px;
    color: #888888;
    position: absolute;
    top: 0px;
    right: 15px;
}

.qs-page > header .qs-logo {
    width: 38px;
    height: 38px;
    vertical-align: middle;
}

.qs-logo-text {
	font-family: 'Parisienne', cursive;
    color: #696969;
    font-size: 26px;
    vertical-align: bottom;
    display: inline-block;
    margin: 0 0 0 5px;
}

/*
===========================================================
Main Nav
===========================================================	
*/

.qs-main-nav {
    height: 34px;
    box-sizing: border-box;
    background-color: #FAAB2F;
}

.qs-main-nav ul {
	margin: 0;
	padding: 0 15px;
	list-style-type: none;
	height: 100%;
}

.qs-main-nav__item {
	display: inline-block;
	padding: 0px 12px;
	height: 100%;
}

.qs-main-nav__item.qs-main-nav__link--selected, .qs-main-nav__item.qs-main-nav__link--selected:hover {
	background-color: rgba(255,255,255,0.55);
}

.qs-main-nav__item:hover {
	background-color: rgba(255,255,255,0.20);
}

a.qs-main-nav__link:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

a.qs-main-nav__link, a:visited.qs-main-nav__link {
	text-decoration: none;
	font-family: 'Merienda', cursive;
	color: #333333;
	height: 100%;
	display: inline-block;
}

/*
===========================================================
Footer
===========================================================	
*/

footer {
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-family: 'Merienda', cursive;
	font-size: 11px;
	background-color: #FAAB2F;
}

/*
===========================================================
Carousel
===========================================================	
*/

.carousel-container {
	position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.carousel-container:after {
	content: "";
    display: block;
    padding-top: 66.6666%;
}

.carousel-container > li {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 1s;
}

.carousel-container > li.hidden {
	opacity: 0;
}

.carousel-container > li.visible {
	opacity: 1;
}

.carousel-container .carousel-img {
	width: 100%;
	height: 100%;
}

/*
===========================================================
News
===========================================================	
*/

.news .qs-page-content {
	display: flex;
	flex-direction: column;
}

.news .qs-page-content .intro {
	
}

.news .qs-page-content .fb-insert {
	text-align: center;
}

/*
===========================================================
Contact
===========================================================	
*/

.contact form.pure-form {
	background-color: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
}

.contact .pure-form h3 {
	margin-top: 0px;
}

.contact .pure-form .no-viz {
	display: none;
}

.contact .pure-form .form-line {
	display: inline-block;
	margin-bottom: 5px;
}

.contact .pure-form label {
	width: 95px;
	display: inline-block;
}

.contact .pure-form .textarea-label {
	width: initial;
}

.contact .pure-form textarea {
	width: 100%;
}

.contact .pure-form input[type="submit"] {
	background: #B9B9B9;
    border: none;
    padding: 7px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

/*
===========================================================
Gallery
===========================================================	
*/

.gallery ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.gallery li {
	margin: 0 8px 8px 0;
	padding: 0;
	font-size: 16px;
	display: inline-block;
	width: calc(50% - 6px);
	padding-bottom: calc(50% - 6px);
	overflow: hidden;
	height: 0;
	position: relative;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.gallery .pic {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
}

.gallery li:nth-of-type(2n) {
  	margin-right: 0;
}

.gallery img {
	border: none;
	max-width: 100%;
	height: auto;
	display: block;
	background: #ccc;
	transition: transform .2s ease-in-out;
}

.fullimg-container {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.65);
}

.fullimg-container.fullimg-container-hidden {
	display: none;
}

.fullimg-container .closebtn {
	position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 9px;
    width: 16px;
    height: 16px;
    background: #FAAA1C;
    text-align: center;
    line-height: 15px;
}

.fullimg-container .closebtn.closebtn-hidden{
	display: none;
}

.fullimg-container .fullimg {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 5px solid white;
    outline: 1px solid #aaaaaa;
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
	.qs-page {
		width: 625px;
	}

	.contact .pure-form textarea {
		width: 70%;
	}

	.gallery li {
    	width: calc(25% - 8px);
    	padding-bottom: calc(25% - 8px);
	}

	.gallery li:nth-of-type(2n) {
		margin-right: 8px;
	}

	.gallery li:nth-of-type(4n) {
		margin-right: 0;
	}
}

/* Large. Above 62em (992px) */
@media screen and (min-width: 62em) {
	.qs-page {
		width: 800px;
	}
}
